* {
    margin: 0;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: "Red Rose";
    
}
body {
    position: relative;
    background-position: center;
    background-size: cover;

}

/* Navbar  */
#navbarMonstera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}


#navMid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-family: 'Oxanium' cursive;
  margin-left: 50px;
}

#navMid h4 {
    display: inline-block;
    padding: 10px 40px;
    font-size: 25px;
   font-weight: 520;
}

#navEnd {
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    
}

#navEnd div {
    padding: 10px 20px;
}

/* Mid-Part  */

#midWhole {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Mid-part left  */
#midWholePart1 {
    position: absolute;
    top: 50px;
    left: 50px;
   
}

#midWholePart11 {
    position: absolute;
    display: inline-block;
    top: 140px;
    width: 50%;
    height: 20%;
}

#monstera {
    position: absolute;
    /* font-size: 140px; */
    /* font-weight: 1000; */
    letter-spacing: 10px;
    font-family: 'Oxanium' ;
    width: 70%;
     
}

#para {
    position: absolute;
    top: 135px;
    font-size: 20px;
    font-weight: 520;
    width: 140%;
    
    font-family: 'Oxanium';
  
} 

#line {
    position: absolute;
    top: 200px;
    font-size: 20px;
    font-weight: 520;
    width: 140%;
   
    font-family: 'Oxanium';
}

#midWholePart12 {
    position: absolute;
    top: 430px;
    left: 10px;
}

#midWholePart121 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #ffffff;
    border: 2px solid rgb(61, 114, 58) ;
    border-radius: 50px;
    background-color: rgb(61, 114, 58);

}

#midWholePart122 {
    
    padding: 5px 10px;
    left: 40px;
}

#midWholePart13 {
    display: flex;
    margin-top: 560px;
    width: 70%;
   
}

.midWholePart13Parts {
    display: flex;
    

}

/* Mid-part right  */
#imgMain {
    position: absolute;
    left: 1000px;
    height: 90vh;
    
}